# Cloudflare Workers 配置
# Worker 名称：greg-mcdermott
name = "wanwan"
# 兼容性日期
compatibility_date = "2025-11-25"
# Worker 入口文件
main = "./src/index.ts"

# 环境变量（前端可通过 import.meta.env 访问）
[vars]
NODE_ENV = "production"
VITE_API_URL = "https://apistock-1hgl.onrender.com"
VITE_Web_Trader_UUID = "71ee2aec-6914-4570-b008-1bc85fbc3763"

# 静态资源配置
[assets]
directory = "./dist/"
not_found_handling = "single-page-application"
binding = "ASSETS"
# 只有 API 请求先运行 Worker，其他请求直接由 Cloudflare 处理静态资源
run_worker_first = [ "/api/*" ]

# 路由配置
[[routes]]
# 匹配根域名 greg-mcdermott.com下所有路径
pattern = "greg-mcdermott.com/*"
zone_name = "greg-mcdermott.com"

[[routes]]
# 匹配 www.greg-mcdermott.com下所有路径
pattern = "www.greg-mcdermott.com/*"
zone_name = "greg-mcdermott.com"
